.input {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  width: 300px;
  outline: none;

  &::placeholder {
    text-align: center; // Centra el texto del placeholder
    // color: #999; // Color del placeholder predeterminado
    transition: color 0.5s; // Agregar una transición para el cambio de color
  }

  &:focus::placeholder {
    color: transparent; // Cambiar el color del placeholder al hacer clic en el input
  }
}
