

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="font-medium">{{oferta.titulo}}</mat-card-title><br>

    </mat-card-title-group>
  </mat-card-header>

  <div class="logo-Empresa">
    <mat-card-subtitle class="subtitle">{{oferta.empresa}}</mat-card-subtitle>
    <img class="card-image" mat-card-image [src]="oferta | ofertImage" alt="Photo of a Shiba Inu" >


  </div>

  <mat-card-content>
    {{oferta.descripcion | slice: 0: 180 }}{{'...'}}
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      mat-raised
      [routerLink]="['/ofertas/',oferta.id]"
      color="primary">
      Ver Detalles
    </button>
  </mat-card-actions>
</mat-card>
